<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <title>Все инциденты</title>
</head>
<body>
<div class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/">Главная</a>
                <a class="nav-item nav-link active" th:href="@{/accidents}">Инциденты</a>
                <a class="nav-item nav-link" th:href="@{/createAccident}">Добавить Инцидент</a>
            </div>
        </div>
        <div th:if="${user != 'anonymousUser'}">
            Login as: <span th:text="${user.username}"></span>
            <a class="nav-item nav-link" th:href="@{/logout}">Выйти</a>
        </div>
    </nav>

    <div class="container mt-4">
        <h2>Все аварии</h2>
        <table class="table table-bordered">
            <thead class="thead-light">
            <tr>
                <th>ID</th>
                <th>Название</th>
                <th>Описание</th>
                <th>Адрес</th>
                <th>Тип инцидента</th>
                <th>Статьи</th>
                <th>Действия</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="accident : ${accidents}">
                <td th:text="${accident.id}"></td>
                <td th:text="${accident.name}"></td>
                <td th:text="${accident.text}"></td>
                <td th:text="${accident.address}"></td>
                <td th:text="${accident.type.name}"></td>
                <td>
                    <ul>
                        <li th:each="rule : ${accident.rules}" th:text="${rule.name}"></li>
                    </ul>
                </td>
                <td>
                    <a class="btn btn-sm btn-primary"
                       th:href="@{/editAccident(id=${accident.id})}">
                        Редактировать
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

</body>
</html>
